<div class="h-100">
  <div class="row h-100">
    <div class="col-12 h-100">
      <div class="showmap-world"
        data-controller="world-map"
        data-world-map-markers-value="<%= @markers.to_json %>"
        data-world-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
  <div class="position-fixed bottom-0 start-50 translate-middle-x mb-3">
    <%= link_to places_path do %>
      <p class='btn btn-primary rounded-pill'>
        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home-share" width="40" height="40" viewBox="0 0 24 24" stroke-width="2.5" stroke="#ff9300" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M9 21v-6a2 2 0 0 1 2 -2h2c.247 0 .484 .045 .702 .127" />
          <path d="M19 12h2l-9 -9l-9 9h2v7a2 2 0 0 0 2 2h5" />
          <path d="M16 22l5 -5" />
          <path d="M21 21.5v-4.5h-4.5" />
        </svg>
        Back to Places</p>
    <% end %>
  </div>
</div>
