<div class="card">
  <div class="card-body">
    <div class="card.title">
      <p> <%= place.address_city %>, <%= place.address_country %> </p>
    </div>

    <div class="d-inline-flex justify-content-center align-items-center">
      <i class="fa-solid fa-people-line"></i>
      <span> <%= place.screen_number%></span>
      <i class="fa-solid fa-euro-sign"></i>
      <span> <%= place.price_per_day %></span>
    </div>
  </div>
</div>
