// Import your components CSS files here.
@import "address_autocomplete";
@import "alert";
@import "avatar";
@import "form_legend_clear";
@import "navbar";
@import "flash";
@import "footer";
@import "filters_div";
@import "map_container";

body {
  padding-top: 88px;
}

.invalid {
  border-color: darkslategray; /* Red border for invalid inputs */
}

.validation-error {
  color: darkslategrey;
  font-size: 0.875em;
  margin-top: 0.25rem;
}

.header-text {
  font-family: "Roboto", sans-serif;
}

.website-name {
  font-family: "Montserrat", sans-serif;
}
