.showmap {
  border-radius: 10%;
  height: 500px;
  width: 100%;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: darkslateblue;
  border: solid 1px darkslateblue;
}

.showmap-world {
  height: 1000px;
  width: 100%;
}
